body{
	background: #99CCCC;
	/*color: #D5D6E2;*/
}

#enterTestimonial textarea {
    width: 100%;
    height: 600px;
    opacity: 0.7;
    border: none;
}

.raw-info input {
    width: 100%;
    height: 50px;
    opacity: 0.7;
    border: none;
}

.row-footer {
    background-color: black;
    font-size: 12px;
}

.row-footer .container > p {
    color: white;
    margin: 0px;
}

@media (min-width: 768px) {
		.raw-info input {
				width: 100%;
				height: 50px;
				opacity: 0.7;
				border: none;
		}
}

@media (min-width: 992px) {
		.raw-info input {
		    width: 100%;
		    height: 50px;
		    opacity: 0.7;
		    border: none;
		}
}

@media (min-width: 1200px) {
		.raw-info input {
		    width: 100%;
		    height: 50px;
		    opacity: 0.7;
		    border: none;
		}
}

@media (min-width: 1670px) {
		.raw-info input {
		    width: 25%;
		    height: 50px;
		    opacity: 0.7;
		    border: none;
		}
}
